@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu Regular";
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 570px;
}